<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <forms>
        <form name="invoicing.pdf.form" class="MultiOrderPaidToPdf\Form\InvoicingForm" />
    </forms>

    <hooks>
        <hook id="multiorderpaidtopdf.hookmanager.hook" class="MultiOrderPaidToPdf\Hook\HookManager">
            <tag name="hook.event_listener" event="main.head-css" type="back" method="onHeadCss" />
            <tag name="hook.event_listener" event="orders.bottom" type="back" method="onOrdersBottom" />
            <tag name="hook.event_listener" event="orders.table-header" type="back" method="onOrderTableHeader" />
        </hook>
    </hooks>
</config>
