<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>MultiOrderPaidToPdf\MultiOrderPaidToPdf</fullnamespace>
    <descriptive locale="en_US">
        <title>Generate PDF multi order with status are paid</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Génère un PDF comprenant les commandes ayant le statut payer</title>
    </descriptive>
    <version>1.0</version>
    <author>
        <name>Alban Baixas</name>
        <email>abaixas@openstudio.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.0.0</thelia>
    <stability>other</stability>
</module>
